[submodule "FirstLesson"]
	path = FirstLesson
	url = git@github.com:SalMarco/testJupyterSlide.git
[submodule "SecondLesson"]
	path = SecondLesson
	url = git@github.com:SalMarco/SecondLesson.git
[submodule "ThirdLesson"]
	path = ThirdLesson
	url = https://github.com/SalMarco/ThirdLesson.git
